<tr id="<%= dom_id(task) %>">
  <td><%= best_in_place task, :description, type: 'input' %>
  <td>
    <i class="icon-pencil"></i>
    <%= link_to '<i class="icon-calendar"></i>'.html_safe, '#', class: 'calTrig' %>
    <%= link_to '<i class="icon-trash"></i>'.html_safe, task, method: :delete, remote: true %>
  </td>
</tr>