<h1><%= @title %></h1>
Hello from the task index!
<br><br><br>
<ul class="nav nav-tabs">
<li class="active"><a href="#">Inbox</a></li>
<li><a href="#">Groceries</a></li>
<li><a href="#">Work</a></li>
</ul>
</li>
</ul>
