<h1>Tasks</h1><br />
<div class="alert alert-info" id="errors"></div>
<%= render 'miniform' %>
<table id="tasks" class="table table-bordered">
  <!-- <thead>
    <th>Description</th>
    <th></th>
  </thead> -->

<%= render @tasks %>
</table>

<br />

