<h1>Tasks</h1>
<div class="alert alert-info" id="errors"></div>
<%= render 'miniform' %>
<div class="note-box">
  <!-- <thead>
    <th>Description</th>
    <th></th>
  </thead> -->
<div class="white">
<ul>
<%= render @tasks %>
</ul>
</div>
</div>
<br />

