<div class="row">
	<div class="billboard">
		<img src="http://placehold.it/490x410&text=Fancy+Screenshot+Here">

	</div>
	
	<div id="register-form" class="span4">
		<form class="well">
		  <h2>New to wat.do?</h2>
		  <input type="text" class="span3" placeholder="Email">
			<input type="text" class="span3" placeholder="Password">			
		  <button type="submit" class="btn btn-primary">Create Account</button>
		</form>
	</div>
	<div class="well" id="reasons">
		<h2>Why join?</h2>
		<ul>
			<li><p>We won't get in your way.</p></li>
			<li><p>Our domain name is awesome.</p></li>
		</ul>
	</div>
</div>