<div class="row">
	<div id="login-form" class="span4 welcome-form">
		<form class="well">
		  <h2>New to wat.do?</h2>
		  <input type="text" class="span3" placeholder="Email">
			<input type="text" class="span3" placeholder="Password">			
		  <button type="submit" class="btn btn-primary">Create Account</button>
		  <button type="submit" class="btn welcome-more-info">More Info</button>
		</form>
	</div>

</div>