// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pull-right {
  padding-right: 180px;
}
.pull-left {
  padding-left: 180px;
}
.pull-right > h1 {
  margin-top: 35px;
  margin-bottom: 30px;
}
.pull-left > h1 {
  margin-top: 35px;
  margin-bottom: 30px;
}