// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container > .hero-unit {
    height: 100%;
    padding: 20px;
	width: 820px;
	padding-left: 14px;
	padding-right: 30px;
    padding-top: 40px;
	margin-left: 45px;
    div.alert {
        margin-top: -20px;
    }
}
.billboard {
//    margin-top: 20px;
    float: left;
    margin-left: 36px;
}
.row {
    margin-top: 0px;
    #register-form {
        float: right;
				margin-left: 10px;
        button {
            margin-top:14px;
        }
        margin-bottom:10px;
        .well {
            margin:0;
            input {
                // height: 24px;
            }
        }
    }
    #reasons {
        width: 262px;
        float: right;
        li {
          font-size: 20px;
        }
        h2 {
            margin-bottom: 10px;
        }
        height: 142px;
    }
    // div {
    //     h2 {
    //         margin-bottom:14px;
    //     }
    //     border: 1px solid #DBDBDB;
    //     border-radius: 4px;
    // }
}

nav.group {
	form.pull-right {
		padding: 10px 12px;
		margin-right: 220px;
		margin-top: 20px;
	}
	h3 {
		margin-top: 0px;
		margin-bottom: 6px;
	}
	h1.brand {
		margin-top: 26px;
		margin-left: 160px;
	}
}