<!-- Nav bar -->
<nav class="group">
	<!-- Logo -->
	<h1 class="brand"><%= link_to "wat.do", tasks_url%></h1>
	<form id="sign-in-form" class="well form-inline pull-right">
		<!-- <h3>Already a member?</h3> -->
	  <input type="text" class="input-small" placeholder="Email">
	  <input type="password" class="input-small" placeholder="Password">
	  <button type="submit" class="btn btn-warning welcome-login-button">Sign in</button>
	</form>
</nav>


